---
import Tile from '../components/Tile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Tile
      containerClass="meetups"
      title="Pacific Northwest"
      cta={[{
        action: "/pnw",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Portland, Seattle, Tacoma, &amp; Vancouver.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Alberta Canada"
      cta={[{
        action: "/ab",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Alberta Canada.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Colorado"
      cta={[{
        action: "/co",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Colorado.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Germany"
      cta={[{
        action: "/de",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Germany.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="US East"
      cta={[{
        action: "/us-east",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Pennsylvania, New Jersey, New York, New England, and New Hampshire.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Texas"
      cta={[{
        action: "/tx",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in the Bay Area.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Ontario Canada"
      cta={[{
        action: "/on",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Ontario Canada.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Philippines"
      cta={[{
        action: "/ph",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in the Philippines.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="San Francisco / Bay Area"
      cta={[{
        action: "/sf",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in the Bay Area.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Singapore"
      cta={[{
        action: "/sg",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Singapore.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Switzerland"
      cta={[{
        action: "/ch",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Switzerland.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="New Zealand"
      cta={[{
        action: "/nz",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in New Zealand.</p>
    </Tile>

    <Tile
      containerClass="meetups"
      title="Indonesia"
      cta={[{
        action: "/id",
        label: "Find a local meetup",
      }]}
    >
      <p>Find Netrunner groups in Indonesia.</p>
    </Tile>

</Layout>
