---
import Tile from '../components/Tile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Netrunner Meetups in Philippines">
  <Tile
    containerClass="manila"
    title="Manila"
    cta={[
      {
        action: "https://www.facebook.com/groups/NetrunnerPH",
        label: "Join the MetaManila City Grid FB community",
      },
      {
        action: "https://discord.gg/my8DCceYET",
        label: "Join the MetaManila City Grid Discord",
      },
    ]}
  >
    <p>Play Netrunner at Whimsy Game Cafe on Tuesdays 6:00pm. (and sometimes Thursdays)</p>
    <p><a href="https://maps.app.goo.gl/Wbu2oJL8u4SXwuQH7">The Portal, Mayflower St, Greenfield District, Mandaluyong, Metro Manila, Philippines</a></p>
  </Tile>
</Layout>
