---
import Tile from '../components/Tile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Netrunner Meetups in PNW">
  <Tile
    containerClass="seattle"
    title="Seattle"
    cta={[{
      action: "https://discord.gg/DjAaUda6A4",
      label: "Join the Emerald City Grid Discord",
    }]}
  >
    <h3>Tuesday Weekly Meetup - Cap Hill</h3>
    <p>Join us at Stoup (formerly Optimism) from 5pm - 11pm.</p>
    <p><a href="https://maps.app.goo.gl/MZJUxGY8QiVAEEYL9">1158 Broadway, Seattle, WA 98122</a></p>
    <p><br></p>
    <h3>Wednesday Weekly Meetup - Bellevue</h3>
    <p>Join us at Mox Boarding House at 5pm.</p>
    <p><a href="https://maps.app.goo.gl/UWkR7o46qoefcqQX7">13310 Bel-Red Rd, Bellevue, WA 98005</a></p>
    <p><br></p>
    <h3>Thursday Weekly Meetup - Greenwood</h3>
    <p>Join us at Chuck's Hop Shop from 5pm - 10pm.</p>
    <p><a href="https://maps.app.goo.gl/VZMfnzqyguc4LYxJ8">656 NW 85th St, Seattle, WA 98117</a></p>
  </Tile>

  <Tile
    containerClass="tacoma"
    title="Tacoma"
    cta={[
      {
        action: "https://discord.gg/DjAaUda6A4",
        label: "Join the Emerald City Grid Discord",
      },
    ]}
  >
    <h3>Tuesday Weekly Meetup - Tacoma</h3>
    <p>Play Netrunner at Silver King Games store from 6pm - 9pm.</p>
    <p><a href="https://maps.app.goo.gl/aTYvrb4gopSEzgr2A">5442 S Tacoma Way, Tacoma, WA 98409</a></p>
    <p>More info on <a
            href="https://alwaysberunning.net/tournaments/3583/tacoma-weekly-netrunner">alwaysberunning.net</a>
    </p>
  </Tile>

  <Tile
    containerClass="olympia"
    title="Olympia"
    cta={[
      {
        action: "https://discord.gg/F4QpXftwQ7",
        label: "Join the South Sound City Grid Discord"
      },
    ]}
  >
    <h3>Tuesday Weekly Meetup - Lacey</h3>
    <p>In the upstairs gaming loft of <a href="https://olympiccardsandcomics.com/">Gabi&apos;s Olympics Cards
            &amp; Comics</a> starting at about 5:30pm.</p>
    <p><a href="https://maps.app.goo.gl/CoF3Pr4izWYVjuXz5">4230 Pacific Ave SE, Lacey, WA 98503</a></p>
  </Tile>

  <Tile
    containerClass="portland"
    title="Portland"
    cta={[
      {
        action: "https://discord.gg/J2fkss8js7",
        label: "Join PDX Netrunner Discord"
      },
      {
        action: "https://www.facebook.com/groups/pdxnetrunner/",
        label: "Facebook Group"
      },
    ]}
  >
    <h3>Every other Tuesday - Arbor Lodge</h3>
    <p>Play Netrunner at Arbor Beer Lodge &amp; Brewery at 6:30pm.</p>
    <p><a href="https://maps.app.goo.gl/EzXEdF8kzg1VsnD19">6550 N Interstate Ave, Portland, OR 97217</a></p>
    <p><a href="https://discord.gg/J2fkss8js7">Check Discord for schedule</a></p>
    <p><br></p>
    <h3>Tuesday Weekly Meetup - Hillsboro</h3>
    <p>Play Netrunner at Rune &amp; Board starting at 5:00pm.</p>
    <p><a href="https://maps.app.goo.gl/9XLw2cKNGPufFBsk8">238 SE Washington St, Hillsboro, OR 97123</a></p>
    <p>More info on <a
            href="https://alwaysberunning.net/tournaments/4120/startup-meetup-rune-board-hillsboro-oregon">alwaysberunning.net</a>
    </p>
  </Tile>

  <Tile
    containerClass="vancouver"
    title="Vancouver B.C."
    cta={[
      {
        action: "https://discord.gg/EGRk3TGwav",
        label: "Join the Rain City Discord"
      },
      {
        action: "https://www.facebook.com/groups/vancouvernetrunner/",
        label: "Facebook Group"
      },
    ]}
  >
    <h3>Tuesday Weekly Meetup - Downtown</h3>
    <p>Play Netrunner at Lions Pub.</p>

    <p><a href="https://maps.app.goo.gl/PUMfz6WZd8i5tXkD9">888 W Cordova St, Vancouver, BC V6C 0A7, Canada</a>
    </p>
  </Tile>

</Layout>
