---
import Tile from '../components/Tile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Netrunner Meetups in San Francisco / Bay Area">
  <Tile
    containerClass="sf"
    title="Berkeley"
    cta={[{
      action: "https://sansan.cards/join",
      label: "Join the SanSan North Netrunner community",
    }]}
  >
    <h3>Every Tuesday - Victory Point Cafe</h3>
    <p>Play Netrunner at Victory Point Cafe at 6pm.</p>
    <p><a href="https://maps.app.goo.gl/JrzQmBoVswk7RcRW8">1797 Shattuck Ave. Ste A, Berkeley, CA 94709</a></p>
    <p><a href="https://sansan.cards">Check out more events in the local SanSan North community</a></p>
    <p><a href="https://www.victorypointcafe.com/pages/events">Victory Point Cafe calendar of events</a></p>
  </Tile>
  <Tile
    containerClass="sf"
    title="San Francisco"
    cta={[{
      action: "https://sansan.cards/join",
      label: "Join the SanSan North Netrunner community",
    }]}
  >
    <h3>Every Thursday - Southern Pacific Brewing</h3>
    <p>Play Netrunner at Southern Pacific Brewing at 6pm.</p>
    <p><a href="https://maps.app.goo.gl/GbEHdNmjoNRz9Ghi7">620 Treat Ave, San Francisco, CA 94110</a></p>
    <p><a href="https://sansan.cards">Check out more events in the local SanSan North community</a></p>
  </Tile>
  <Tile
    containerClass="sf"
    title="South Bay - Santa Clara"
    cta={[{
      action: "https://sansan.cards/join",
      label: "Join the SanSan North Netrunner community",
    }]}
  >
    <h3>Every Monday - Game Kastle</h3>
    <p>Play Netrunner at <a href="https://gamekastle.com/pages/santa-clara-ca">Game Kastle</a> at 6pm.</p>
    <p><a href="https://maps.app.goo.gl/Xstfwk9cMeoTvtLy8">1350 Coleman Ave, Santa Clara, CA 95050</a></p>
    <p><a href="https://sansan.cards">Check out more events in the local SanSan North community</a></p>
  </Tile>
  <Tile
    containerClass="sf"
    title="North Bay - Santa Rosa"
    cta={[{
      action: "https://sansan.cards/join",
      label: "Join the SanSan North Netrunner community",
    }]}
  >
    <h3>Every Monday - OP Comics &amp; Games</h3>
    <p>Play Netrunner at <a href="https://www.outerplanesgames.com/">OP Comics &amp; Games</a> at 6pm.</p>
    <p><a href="https://maps.app.goo.gl/tyZHT9BiSA5s2Asg9">1901 Cleveland Ave, Santa Rosa, CA 95401</a></p>
    <p><a href="https://sansan.cards">Check out more events in the local SanSan North community</a></p>
  </Tile>
</Layout>
