---
import Tile from '../components/Tile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Netrunner Meetups in Singapore">
  <Tile containerClass="singapore" title="Singapore">
    <h3>Contact Jai on Discord</h3>
    <p>For more info on local meetups.</p>
    <p><a href="https://discordapp.com/users/224565140643643392">@jairoscopic</a></p>
    <p><br></p>
    <h3>Friday Weekly Meetup - Hillsboro</h3>
    <p>Play Netrunner at Asia Square Food Garden (Level 2) at 7pm.</p>
    <p>(between Tower 1 and 2)</p>
    <p><a href="https://maps.app.goo.gl/aN8W9fzoy3DgPdZc6">12 Marina View, Singapore 018961</a></p>
<!--a class="button" href="https://discord.com/invite/xxxxxxxxxx">Join the Singapore Discord</a-->
  </Tile>

</Layout>
